html,
body {
    padding: 0;
    margin: 0;
    padding-left: 1px;
    font-family: 'Microsoft YaHei';
}

.input-group {
    margin-bottom: 15px;
}

.input-group-addon {
    width: 100px;
    text-align: right;
}

th,
td {
    text-align: center;
}